@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.signIn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
  margin: 1.2rem 2.4rem;

  &__rightSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1.5;
    padding: 1.2rem 2.4rem;
    border-radius: 24px;
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  &__leftSection {
    display: none;
    @include media-query("tablet") {
      padding: 2.4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1.2rem;
      border-radius: 24px;
      flex: 2;
    }
  }
  &__text {
    align-self: center;
    color: #767b91;
    font-weight: 200;
  }
  &__form {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
  }
  &__btn {
    width: 100%;
    height: 2.4rem;
    border-radius: 20px;
    background-color: $black3;
    color: #fff;
    &:hover {
      background-color: $grey2;
    }
  }

  &__poster {
    height: 12rem;
    width: auto;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: rotateZoom 5s infinite, fade 5s infinite;
    // transform: rotate(340deg) scale(1.2);
    // animation: reorder 5s infinite, fade 5s infinite;
    // animation: swap 5s infinite;
  }
}

@keyframes swap {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100%, 100%);
  }
  50% {
    transform: translate(200%, 0);
  }
  75% {
    transform: translate(100%, -100%);
  }
}

@keyframes rotateZoom {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes reorder {
  0% {
    order: 1;
  }
  10% {
    order: 2;
  }
  20% {
    order: 3;
  }
  30% {
    order: 4;
  }
  40% {
    order: 5;
  }
  50% {
    order: 6;
  }
  60% {
    order: 7;
  }
  70% {
    order: 8;
  }
  80% {
    order: 9;
  }
  90% {
    order: 10;
  }
  100% {
    order: 1;
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
