// colors
$black1: #131416;
$black2: #050517;
$black3: #080f0f;
$black4: #1b1b1e;
$black5: #171d1c;
$black6: #0b0014;

$red1: #a52422;
$red2: #e3170a;
$red3: #96031a;

$green1: #4da167;

$blue1: #2274a5;
$blue2: #4056f4;
$blue3: #3c6997;
$blue4: #275dad;
$blue5: #0470f3;
$blue6: #68a9f8;

$white: #ffffff;
$white1: #f7f7f2;
$white2: #fafafa;
$white3: #fbfffe;
$white4: #efe9f4;

$grey: #9e936d;
$grey1: #767b91;
$grey2: #343434;
$grey3: #e1e5ee;
$gery4: #6d676e;
$grey5: #d8e2dc;
$grey6: #8d99ae;

$yellow1: #ff9505;
$yellow2: #ffb627;
$yellow3: #ffb627;
$yellow4: #ffbc42;
$yellow5: #faa916;

$orange1: #cc5803;
$orange2: #e2711d;

//Breakpoints
$tablet-break: 768px;
$desktop-break: 1280px;

$uranian-blue: #a0ddffff;
$vista-blue: #758ecdff;
$periwinkle: #c1cefeff;
$cornflower-blue: #7189ffff;
$royal-purple: #624cabff;

$xanthous: #ffc15eff;
$orange-peel: #ff9f1cff;
$federal-blue: #080357ff;
