@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.card {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
  }

  &__templatecard {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-right: 1rem;

    .card_initials {
      font-size: 24px;
      color: #fff;
    }
  }

  &__titlebox {
    display: flex;
    flex-direction: column;
  }

  h3 {
    margin-bottom: 0.5rem;
  }

  p {
    margin: 0.25rem 0;
  }
}
